/* <section class="success">
      <h1 class="success__thank">Thank you</h1>
      <p class="success__text">
        Your enquiry has been received and I'll get back to you as soon as
        possible.
      </p>
      <button class="button return"><a href="../index.html">Gallery</a></button> */

.success__container {
  display: flex;
  justify-items: center;
  align-items: center;
  height: 100vh;
  background-image: url(../Images/Sketches/Full/New_Zealand_coast.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.success {
  margin: auto auto;
  max-width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: var(--bg-overlay--light);
  border-radius: var(--corner);
  box-shadow: var(--boxShadow1);
}

.success__thank {
  font-size: var(--text-clamp-large);
  margin: 1em;
}

.success__text {
  font-size: var(--text-clamp-medium);
  margin: 1em;
}

.return {
  margin: 1em;
  font-size: var(--text-clamp-medium);
}

.return a {
  text-decoration: none;
  color: black;
}

.return:hover a {
  color: whitesmoke;
}
